#msgWindow {
    display: none;
    padding: 1vmin;
    padding-bottom: 2vmin;
    position: absolute;
    left: 30vmin;
    top: 30vh;
    z-index: 3;
    width: 40vmin;
    height: 20vmin;
    background-color: #108020;
    border: 0.5vmin solid black;
    border-radius: 3%;
}

@media screen and (max-aspect-ratio:1/1){
    #msgWindow {
        width: 80vmin;
        height: 40vmin;
        left: 10vmin;
        top: 30vh;
    }
}

#msgWindow div.closer button {
    border-radius: 4%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: steelblue;
    border-top-color: steelblue;
    border-width: 0.25rem;
    background-color: transparent;
    color: black;

}

#msgWindow div.closer {
    padding:4vmin;
    display: flex;
    justify-content: center;
}