$blend-green: #324840;
$blend-blue: #324048;
$shady-blue: #2c3e50;

div.navbar {
  background-color: $shady-blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 0 15px;
}

@media (max-width: 600px) {
  div.navbar{
    flex-direction: column;
  }
}

/* blend button in navbar */
.blend {
  background-color: transparent;
  color: white;
  font-weight: 600;
  word-spacing: 0.25rem;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
}

.blend-green {
  background-color: $blend-green;
}

.blend-blue {
  background-color: $blend-blue;
}
