html {
  font-size: 16px;
}

.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.f0 {
  font-size: 0;
}

.m0 {
  margin: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.pq {
  padding: 0.25rem;
}

.plq {
  padding-left: 0.25rem;
}

.prq {
  padding-right: 0.25rem;
}

.ptq {
  padding-top: 0.25rem;
}

.pbq {
  padding-bottom: 0.25rem;
}

.fq {
  font-size: 0.25rem;
}

.mq {
  margin: 0.25rem;
}

.mlq {
  margin-left: 0.25rem;
}

.mrq {
  margin-right: 0.25rem;
}

.mtq {
  margin-top: 0.25rem;
}

.mbq {
  margin-bottom: 0.25rem;
}

.ph {
  padding: 0.5rem;
}

.plh {
  padding-left: 0.5rem;
}

.prh {
  padding-right: 0.5rem;
}

.pth {
  padding-top: 0.5rem;
}

.pbh {
  padding-bottom: 0.5rem;
}

.fh {
  font-size: 0.5rem;
}

.mh {
  margin: 0.5rem;
}

.mlh {
  margin-left: 0.5rem;
}

.mrh {
  margin-right: 0.5rem;
}

.mth {
  margin-top: 0.5rem;
}

.mbh {
  margin-bottom: 0.5rem;
}

.p3q {
  padding: 0.75rem;
}

.pl3q {
  padding-left: 0.75rem;
}

.pr3q {
  padding-right: 0.75rem;
}

.pt3q {
  padding-top: 0.75rem;
}

.pb3q {
  padding-bottom: 0.75rem;
}

.f3q {
  font-size: 0.75rem;
}

.m3q {
  margin: 0.75rem;
}

.ml3q {
  margin-left: 0.75rem;
}

.mr3q {
  margin-right: 0.75rem;
}

.mt3q {
  margin-top: 0.75rem;
}

.mb3q {
  margin-bottom: 0.75rem;
}

.p1 {
  padding: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.f1 {
  font-size: 1rem;
}

.m1 {
  margin: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.p1h {
  padding: 1.5rem;
}

.pl1h {
  padding-left: 1.5rem;
}

.pr1h {
  padding-right: 1.5rem;
}

.pt1h {
  padding-top: 1.5rem;
}

.pb1h {
  padding-bottom: 1.5rem;
}

.f1h {
  font-size: 1.5rem;
}

.m1h {
  margin: 1.5rem;
}

.ml1h {
  margin-left: 1.5rem;
}

.mr1h {
  margin-right: 1.5rem;
}

.mt1h {
  margin-top: 1.5rem;
}

.mb1h {
  margin-bottom: 1.5rem;
}

.p2 {
  padding: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.f2 {
  font-size: 2rem;
}

.m2 {
  margin: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.p3 {
  padding: 3rem;
}

.pl3 {
  padding-left: 3rem;
}

.pr3 {
  padding-right: 3rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.f3 {
  font-size: 3rem;
}

.m3 {
  margin: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.p4 {
  padding: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.f4 {
  font-size: 4rem;
}

.m4 {
  margin: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.p5 {
  padding: 5rem;
}

.pl5 {
  padding-left: 5rem;
}

.pr5 {
  padding-right: 5rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.f5 {
  font-size: 5rem;
}

.m5 {
  margin: 5rem;
}

.ml5 {
  margin-left: 5rem;
}

.mr5 {
  margin-right: 5rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.p6 {
  padding: 6rem;
}

.pl6 {
  padding-left: 6rem;
}

.pr6 {
  padding-right: 6rem;
}

.pt6 {
  padding-top: 6rem;
}

.pb6 {
  padding-bottom: 6rem;
}

.f6 {
  font-size: 6rem;
}

.m6 {
  margin: 6rem;
}

.ml6 {
  margin-left: 6rem;
}

.mr6 {
  margin-right: 6rem;
}

.mt6 {
  margin-top: 6rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.zero-border {
  border: 0;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.space-between {
  justify-content: space-between;
}

.inline {
  display: inline;
}

.bg-transparent {
  background: transparent;
}

.black {
  color: black;
}

.bg-black {
  background-color: black;
}

/*# sourceMappingURL=common.css.map */
